
# JWT

SECRET_KEY = "exemplo_de_chave_secreta_que_deve_ser_mantida_em_secreto"
ALGORITHM = "HS256" 
ACCESS_TOKEN_EXPIRE_MINUTES = 30

# DATABASE

DATABASE_URL = "postgresql://usuario:senha@db:2543/appdb"

POSTGRES_USER="username"
POSTGRES_PASSWORD="password"
POSTGRES_DB="db"


